body{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    font-family:'Noto Sans JP', sans-serif;
    background-color:#aec6cf;
}

aside{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

button{
    background-color:#fbf7f5;
    border:2px solid gray;
    border-radius:2vmin;
    margin:1vmin;
}

button:hover{
    cursor:pointer;
}

.slider:hover{
    cursor:pointer;
}

#slider-wrap{
    display:flex;
    flex-direction:column;
    margin-left:1vmin;
}

#etch-wrapper{
    display:flex;
    flex-direction:column;
    background-color:black;
    height:64vmin;
    width:64vmin;
    gap:1px;
    border:1px solid black;
}

.row{
    display:flex;
    flex-direction:row;
    height:4vmin;
    gap:1px;
}

.column{
    width:4vmin;
    background-color:#fbf7f5;
}

body{
    height:100%;
    width:100%;
}

html{
    height:100%;
    width:100%;
}